#__next,
html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
:root {
	--white: #ffffff;
	--gray1: #dbe1e8;
	--gray2: #b2becd;
	--gray3: #6c7983;
	--gray4: #454e56;
	--gray5: #2a2e35;
	--gray6: #12181b;
}
[data-theme="dark"] {
	--background: linear-gradient(to right, var(--gray4), var(--gray6));
	--foreground: white;
	background: var(--background);
	color: var(--white);
	transition: background 1000ms ease-out, color 800ms ease-out;
}
[data-theme="light"] {
	--background: linear-gradient(to right, var(--white), var(--gray1));
	--foreground: var(--gray6);
	background: var(--background);
	color: var(--foreground);
	transition: background 1000ms ease-out, color 800ms ease-out;
}
a {
	color: inherit;
	text-decoration: underline;
}
h1 {
	font-size: 40px;
}

ul {
	list-style-type: none;
	list-style: none;

	margin: 0;
	padding: 0;
}

li {
	cursor: pointer;

	text-align: center;
}
* {
	box-sizing: border-box;
	height: fit-content;
}
[data-theme="dark"] code {
	background: rgb(0, 0, 0);
	color: white;
	transition: background 100ms ease-out, color 800ms ease-out;
}
[data-theme="light"] code {
	background: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	transition: background 100ms ease-out, color 800ms ease-out;
}
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: stretch;

	padding: 2rem 0;
	border-top: 1px solid #eaeaea;
	margin-top: auto;
	bottom: 0;
}

footer a {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	flex-grow: 1;
	height: 100%;
}
#__next {
	display: flex;
	flex-direction: column;
	z-index: 0;
}
